[Unit]
Description=Check restic backup offsite SFTP for errors
OnFailure=status-email-user@%n.service
Conflicts=restic-backup@offsite.service

[Service]
Type=simple
Nice=10
ExecStart=/usr/local/sbin/restic_check_offsite.sh
