[Unit]
Description=Check restic backup B2 for errors on a schedule

[Timer]
OnCalendar=quarterly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
