[Unit]
Description=Check restic backup offsite B2 for errors
OnFailure=status-email-user@%n.service
Conflicts=restic-backup@offsite.service

[Service]
Environment="HC_ID=<id>"
Type=simple
Nice=10
ExecStart=/usr/local/sbin/restic_check_offsite.sh
ExecStopPost=/usr/bin/curl -fsS -m 10 --retry 5 "https://hc-ping.com/${HC_ID}/${EXIT_STATUS}"