[Unit]
Description=Check restic backup SFTP for errors on a schedule

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
