[Unit]
Description=Backup with restic on schedule

[Timer]
OnCalendar=*-*-* 4:00:00
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
